body{
    background-color: #fff;
    font-color: white;
    background: #333; /* fallback for old browsers */

}

.state rect {
  fill: #000;
}

.state text {
  font: 48px sans-serif;
  text-anchor: middle;
  fill: white;

}

h1 {
    font: 72px sans-serif;
    color: white;
    text-align: center;
      text-shadow: none;
      text-rendering: optimizeLegibility;
}

#main {
  /*width: 1200px;*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  text-align: center;
}

#slider {
  /*width: 1200px;*/
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.handle-text {
font: 28px sans-serif;
color: white;
text-align: center;
  text-shadow: none;
  text-rendering: optimizeLegibility;

}
.axis {
  font: 14px sans-serif;
  stroke: white;
}

.axis .domain {
  fill: none;
  stroke: white;
  stroke-opacity: .3;
  stroke-width: 3px;
  stroke-linecap: round;
}

.axis .halo {
    fill: #000;
    stroke: #000;
    stroke-width: 10px;
    troke-linecap: round;
}

.slider .handle-circle {
    fill: #666;
    stroke: #333;
    stroke-opacity: .5;
    stroke-width: 1.25px;
}
